.jio {
    width: auto;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
}
.hui {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.huix {
    width: 100%;
    justify-items: center;
    align-items: center;
}

#login-form {
    width: 100%;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

#username-field1 {
    width: 50%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffff;
    resize: none;
}
#username-field2 {
    width: 50%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffff;
    resize: none;
}
#username-field3 {
    width: 50%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffff;
    resize: none;
}
#login-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #D35400;
    cursor: pointer;
    outline: none;
}

#lukacupi{
    margin-top:15pt;
    width: 100%;
    display:none;
    justify-items:center;
    align-items:center;
}
#loading{
    display: none;
}
#sei {
    margin-top: 15pt;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#sos {
    margin-top: 15pt;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#logup-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #04B290;
    cursor: pointer;
    outline: none;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

#logup-form-submitx {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #2C3E50;
    cursor: pointer;
    outline: none;
    margin-top: 10pt;
    margin-bottom: 10pt;
}
#wrapper{
    display:none;
    width:100%;
    justify-items:center;
    align-items:center;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#text {
    width: 50%;
    margin-bottom: 10pt;
    background-color: #F8F9F9;
    color: #222;
    font-family: Courier, monospace;
    border-radius: 12pt;
    font-weight: normal;
    font-size: 10pt;
    resize: vertical;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 12pt;
}
@media (max-width: 1650px) {
    #username-field1 {
        width: 100%;
    }

    #username-field2 {
        width: 100%;
    }

    #username-field3 {
        width: 100%;
    }

    #login-form-submit {
        width: 50%;
    }
    #logup-form-submit {
        width: 50%;
    }
    #text {
        width: 100%;
    }
}